<ion-header>
  <ion-toolbar color="success">
    <ion-title text-center size="small">
      Claves Taxonómicas de Musgos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="assets/img/musgo.jpg"></ion-img>
    <ion-button color="success" expand="block" (click)="goToCaracteristicasPage(0)">Inicio</ion-button>
    <ion-button color="success" expand="block" (click)="goToGlosarioPage()">Glosario</ion-button>
    <ion-card-content>
      <p>Las briofitas (o flora de musgos) asciende a cerca de 1 482 especies o variedades descritas, aunque todavía no
        se
        han inventariado en muchas partes del país. Los musgos del Valle de México son los mejor estudiados. La mayoría
        de
        los musgos mexicanos presenta una amplia distribución, desde las porciones alpinas del Sistema Volcánico
        Transversal, hasta las zonas áridas o en selvas húmedas y subhúmedas. Abundan en zonas inundables, pueden
        desarrollarse sobre rocas, suelos o como epífitas sobre troncos, ramas y hojas.</p>

      <p>Por lo general se fijan al sustrato por medio de rizoides –células individuales alargadas o filamentos
        celulares-,
        ya que no tienen raíces verdaderas. En los filidios del gametofito ocurre la fotosíntesis. Estas estructuras
        carecen de tejidos especializados que tienen las hojas verdaderas y presentan solo el grosor de una o unas pocas
        células. Las briofitas, se caracterizan por peer un gametofito haploide que, por lo general, es de mayor tamaño
        que el esporofito diploide.</p>

      <p>En la clave que fue utilizada se usan los términos de hojas, tallos y raíces, sin embargo es necesario aclarar
        que
        estos no son homólogos a los filidios, caulidios y rizomas, sin embargo el autor los utiliza para que la clave
        sea
        comprendida de una mejor manera por los usuarios.</p>

    </ion-card-content>

  </ion-card>

</ion-content>